.layout{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.pyg_header{
  height: 45px;
  width: 100%;
  padding: 4px;
  background: #eee;
}
// 导航
.pyg_nav{
  display: flex;
  padding: 10px;
  background: #fff;
  a{
    flex: 1;
    text-align: center;
    color:#333;
    font-size: 13px;
    img{
      width: 50%;
    }
  }

}
.pyg_content{
  overflow: scroll;
  flex: 1;
}
.productList{
  .product{
    float: left;
  }
 .product{
   padding: 0 8px;
   margin-top: 8px;
  
   >img{
     width: 100%;
     display: block;
     margin-bottom: 8px;
   }
   .productImg{
     width: 49%;
     float: left;
      margin-bottom: 8px;
     
     
     >a{
       width: 50%;
       >div{
         font-size: 13px;
         color:#333;
       }
       .price{
         color:red;
         font-size: 18px;
         margin: 4px 0;
       }
       img{
         width: 100%;
       }
     }
     >img{
       width: 50%;
     }
     a:nth-of-type(2){
      width: 80%;
      display: block;
      margin: 0 auto;
      
     }
   }
   .productImg:nth-of-type(even){
     margin-left: 2%;
   }
 }
}
.pyg_footer{
  width: 100%;
  height: 45px;
  background: red;
}